<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:hedis="http://www.hll.com/hedis/schema/people"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.hll.com/hedis/schema/people http://www.hll.com/hedis/schema/people.xsd">
    <hedis:people id="peo" name="袁志俊" age="27"/>


</beans>